:root {
    --primary: #FF6464;
    --secondry: #00A8CC;
    --dark: #21243D;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: 'Heebo', sans-serif;
    color: var(--dark);

}

.body-container {
    background-color: rgb(252, 250, 250);
    max-width: 1120px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:hover {
    transform: scale(1.1);
}

.posts a {
    padding-right: 5px;
}

.container {
    width: 1120px;
    margin: 0 auto;
}

.links {
    display: flex;
    justify-content: end;
    padding-top: 27px;
    margin-right: 60px;
    font-weight: 700;
}

.links a {
    color: var(--dark);
    font-size: 20px;
    line-height: 29px;
    padding-left: 33px;
}

/* img {
    width: 243px;
    height: 243px;
} */

.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
    padding-right: 149px;
    padding-left: 148px;
}

.describe {
    padding-right: 106px;
}

h1 {
    font-size: 44px;
    line-height: 60px;
    font-weight: 700;
    padding-bottom: 40px;
}

p {
    line-height: 23.5px;
}

.describe p {
    padding-bottom: 38px;
}

button {
    background-color: var(--primary);
    border: none;
    color: #ffffff;
    width: 208px;
    height: 47px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
    border: 1px solid var(--primary);
    color: var(--primary);
}

.blog {
    background-color: #EDF7FA;
    height: 396px;
    margin-top: 71px;
}

.posts {
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
    padding-right: 149px;
    padding-left: 148px;
}

.inscription {
    font-size: 22px;
    padding-bottom: 22px;
    padding-left: 8px;
}

.posts a {
    color: var(--secondry);
    line-height: 23.5px;
}

.blog-entries {
    display: flex;
    justify-content: space-around;
    padding-right: 149px;
    padding-left: 148px;
}

.entries {
    width: 394px;
    height: 295px;
    background-color:#ffffff;
    padding-left: 21px;
}

h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    padding-top: 22px;
}

h3 {
    font-size: 18px;
    padding-top: 17px;
    padding-bottom: 11px;
    line-height: 26px;
}

.featuredworks {
    padding-left: 148px;
    padding-top: 22px;
}

.works {
    display: flex;
}

.heading {
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    padding-bottom: 20px;
}

.year {
    background-color: #142850;
    border-radius: 16px;
    width: 62px;
    height: 25px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 22px;
    line-height: 1.5;
}

.article-body {
    padding-left: 18px;
}

.vector {
    width: 858px;
    height: 0px;
    border: 1px solid #E0E0E0;
    margin-top: 15px;
    margin-bottom: 31px;
}

.pictures {
    display: flex;
    justify-content: space-between;
    margin: 134px 430px 26px 430px;
}

.footer {
    text-align: center;
    font-size: 14px;
    line-height: 20.5px;
    padding-bottom: 54px;
}

.works p:nth-of-type(3) {
    padding-right: 154px;
}